.previous-days-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6px;
}

.previous-days-button, .day-filter-button {
    height: 50px;
    width: 100%;
    background-color: var(--btn-bg);
    border: 5px solid var(--btn-border);
    
    color: var(--gray);
    font-size: 20px;
    font-weight: bold;

    transform: translateX(120%);
    transition: 800ms;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.day-filter-button {
    height: 60px;
    background-color: var(--btn-bg);
    border: 5px solid var(--base-border);
}
.day-filter-button:active {
    background-color: var(--btn-bg);
    color: var(--gray);
}
.previous-days-button span {
    padding: 8px;
    border: 1px solid var(--btn-border);
}
.day-filter-button span {
    padding: 12px;
    border: 1px solid var(--btn-bg);
}
.day-filter-button span.active {
    background-color: var(--btn-active);
    color: black;
}

.day-container {
    width: 100%;
    background-color: var(--btn-border);
    border: 5px solid var(--base-border);
    border-radius: 10px;
    padding: 10px 10px 0 10px;
    
    font-size: 20px;

    opacity: 0;
    transition: opacity 300ms;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.day-container p {
    width: 100%;
    background-color: var(--base-bg);
    border-radius: 10px;
    padding: 10px;

    color: var(--gray);
    text-align: center;
}
.day-container .set-container {
    width: 100%;
    border-bottom: 2px solid var(--base-border);
    padding: 10px 0;
    user-select: none;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.day-container .set-container:last-child {
    border-bottom: none;
}
.day-container .set-counter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    padding: 10px 0;
}

.set-container .set-weight,
.set-container .set-reps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.set-weight .weight-value,
.set-reps .reps-value {
    color: var(--gray);
}

.set-container input {
    width: 70px;
    background-color: var(--base-bg);
    border: 5px solid var(--btn-border);
    border-radius: 10px;
    outline: none;

    font-size: 18px;
    text-align: center;
}
.set-container input:focus {
    border: 5px solid var(--btn-active);
}