.previous-days-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6px;
}

.previous-days-button, .day-filter-button {
    height: 50px;
    width: 100%;
    background-color: var(--btn-bg);
    border: 5px solid var(--btn-border);
    
    color: var(--gray);
    font-size: 20px;

    transform: translateX(120%);
    transition: all 800ms, opacity 400ms;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.previous-days-button.active {
    color: black;
    background-color: var(--btn-active);
}
.previous-days-button.delete span {
    transition: all 1000ms, opacity 3000ms;
    border: 1px solid hsl(0, 63%, 47%);
}
.previous-days-button.delete {
    transition: all 1000ms, opacity 3000ms;
    background-color: hsl(0, 58%, 29%);
    border: 5px solid hsl(0, 63%, 47%);
    color: black;
}
.previous-days-button.delete:active {
    background-color: hsl(0, 58%, 29%);
    border: 5px solid hsl(0, 63%, 47%);
    color: black;
}

.day-filter-button {
    height: 60px;
    font-weight: bold;
    background-color: var(--btn-bg);
    border: 5px solid var(--base-border);
    transform: translateX(-120%);
}
.day-filter-button:active {
    background-color: var(--btn-bg);
    color: var(--gray);
}
.previous-days-button span {
    user-select: none;
    padding: 8px;
    border: 1px solid var(--btn-border);
    transition: opacity 400ms;
}
.day-filter-button span {
    padding: 12px;
    border: 1px solid var(--btn-bg);
}
.day-filter-button span.active {
    background-color: var(--btn-active);
    color: black;
}

.day-container {
    width: 100%;
    background-color: var(--btn-border);
    border: 5px solid var(--base-border);
    border-radius: 10px;
    padding: 10px 10px 0 10px;
    
    font-size: 20px;

    opacity: 0;
    transition: all 500ms, height 200ms;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.day-container.delete {
    transition: all 1000ms, opacity 3000ms;
    background-color: hsl(0, 58%, 29%);
    border: 5px solid hsl(0, 63%, 47%);
    color: black;
}
.time-of-exercise-div {
    margin-left: -22px;
    background-color: var(--base-bg);
    border: 5px solid var(--base-border);
    width: 100%;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    display: flex;
    align-items: center;
    text-overflow: unset;

    transition: all 800ms, opacity 400ms;
}
.time-of-exercise-div.delete {
    transition: all 1000ms, opacity 3000ms;
    background-color: hsl(0, 58%, 29%);
    border: 5px solid hsl(0, 63%, 47%);
    color: black;
}
.time-of-exercise-div.delete p {
    transition: all 500ms;
    color: black;
}

.time-of-exercise-div span {
    z-index: 2;
    border-right: 5px solid var(--base-border);
    height: 100%;
    margin-left: -10px;
    font-size: 16px;
    color: var(--gray);
    padding: 8px;
    background-color: black;
    user-select: none;
    display: flex;
    align-items: center;
}
.time-of-exercise-div p {
    margin-left: 4px;
    padding: 4px 10px;
    color: var(--gray);
    text-align: center;
}
.time-of-exercise-div p:last-of-type {
    padding-left: 0;
    margin-left: auto;
    font-size: 16px;
}
.time-of-exercise-div .pr {
    color: var(--highlight)
}
.day-container .set-container {
    width: 100%;
    border-bottom: 2px solid var(--base-border);
    padding: 6px 0;
    user-select: none;

    transition: all 500ms;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.day-container .set-container:last-child {
    border-bottom: none;
}
.day-container .set-counter {
    width: 100%;

    transition: all 200ms;

    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    padding: 10px 0 10px 36%;
    user-select: none;
}
.set-counter i {
    margin-left: auto;
}
.set-counter i:active {
    color: var(--highlight);
}

.set-container .set-weight,
.set-container .set-reps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.set-weight .weight-value,
.set-reps .reps-value {
    color: var(--gray);
}

.set-container input {
    width: 70px;
    background-color: black;
    border: 5px solid var(--btn-border);
    border-radius: 10px;
    outline: none;

    font-size: 18px;
    text-align: center;
}
.set-container input:focus {
    border: 5px solid var(--btn-active);
}