:root {
    --olive: 60, 25%; /* 21% */
    --gray: rgb(230, 230, 230);
    --highlight: rgb(182, 248, 0);
    --test: rgb(57, 57, 34);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: black;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.login-container {
    opacity: 0;
    margin-top: 20px;
    height: 60px;
    width: 90%;
    display: none;
    justify-content: center;
    align-items: center;
    
    border-radius: 20px;

    background-color: hsl(60, 17%, 46%);
    transition: 800ms;
}
.login-content {
    opacity: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: 800ms;
}
.login-content .input-label {
    margin-top: 20px;
    color: var(--gray);
    font-size: 20px;
    font-weight: bold;
    user-select: none;
    padding: 10px;
}
.condition-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.condition-container p {
    align-self: flex-start;
    margin-left: 10px;
    color: var(--gray);
    font-size: 14px;
    user-select: none;
}
.login-content input {
    padding: 0 6px;
    margin: 10px;
    font-size: 20px;
    outline: 5px solid hsl(var(--olive), 13%);
    border-radius: 6px;
    width: 70%;

    text-align: center;
}

.main-container {
    background-color: black;
    width: 90%;
    margin: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.content-front-top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    transform: translateX(-120%);
    transition: 800ms;
}

.content-front-top .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: hsl(var(--olive), 21%);
    border: 5px solid hsl(var(--olive), 10%);
    padding: 10px;
    color: var(--gray);
}
.title h2 {
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.title span {
    font-weight: bold;
    color: var(--highlight);
    user-select: none;
}
.content-front-top .user {
    align-self: flex-start;
    min-width: 60px;
    height: 60px;
    background-color: hsl(var(--olive), 21%);
    border: 5px solid hsl(var(--olive), 10%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.user i {
    padding: 10px;
    font-size: 34px;
    color: hsl(var(--olive), 42%);
}
.content-front {
    width: 100%;
    margin-top: 10px;
    
    opacity: 0;
    transition: opacity 800ms;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.previous-session-div {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.previous-days-div {
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.previous-session-div p {
    align-self: flex-start;
    padding: 10px;
    color: white;
    font-size: 18px;
    user-select: none;
}

.add-session-button, .save-button,
.previous-session-button, .login-button,
.previous-days-button {
    width: 100%;
    height: 100px;
    background-color: hsl(var(--olive), 18%);
    border: 5px solid hsl(var(--olive), 37%);
    border-radius: 24px;
    color: var(--gray);
    font-size: 20px;
    margin-bottom: 20px;

    transition: 800ms;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.previous-session-button,
.previous-days-button {
    border-radius: 0px;
    height: 50px;
    font-weight: bold;

    transform: translateX(120%);
    transition: 800ms;
}

.previous-days-button {
    margin-bottom: 0;
}

.save-button {
    width: 80%;
    height: 60px;
    transition: 800ms;
}
.login-button {
    margin: 30px 0;
    width: 60%;
    height: 60px;
    transition: 800ms;
}

.content-back {
    width: 100%;
    margin-top: 10px;
    
    opacity: 0;
    transition: opacity 1000ms;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-back-top {
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    font-weight: bold;

    opacity: 0;
    transition: 800ms;
}

.back-button {
    padding: 10px 20px;
    background-color: hsl(var(--olive), 18%);
    border: 5px solid hsl(var(--olive), 37%);
    font-size: 22px;
    color: var(--highlight);
    transition: width 800ms;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-date {
    width: 100%;
    background-color: hsl(var(--olive), 21%);
    border: 5px solid hsl(var(--olive), 10%);
    padding: 10px;
    font-size: 20px;
    color: var(--gray);
    
    text-align: center;
}
.select-exercise, .select-sets {
    width: 100%;
    background-color: hsl(var(--olive), 18%);

    color: var(--gray);
    font-size: 18px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.saving-content {
    width: 100%;
}
.body-weight {
    width: 240px;
    display: flex;
    justify-content: flex-start;
    user-select: none;
    
    display: flex;
    justify-content: center;
}
.body-weight input[type="checkbox"] {
    display: none;
}
.body-weight label {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-weight i {
    margin-left: 10px;
    font-size: 20px;
}
.select-exercise {
    border-top: 6px solid hsl(var(--olive), 10%);
    border-left: 6px solid hsl(var(--olive), 10%);
    border-right: 6px solid hsl(var(--olive), 10%);
    padding: 20px;
}
.select-exercise .autocomplete-list {
    position: absolute;

    background-color: hsl(var(--olive), 30%);
    border: 3px solid hsl(var(--olive), 50%);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.autocomplete-list div {
    user-select: none;
    color: var(--gray);
    width: 100%;
    padding: 8px;
    border: 2px solid hsl(var(--olive), 40%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.autocomplete-list div:hover {
    background-color: hsl(var(--olive),70%);
    color: black;
}
.select-sets {
    border-bottom: 6px solid hsl(var(--olive), 10%);
    border-left: 6px solid hsl(var(--olive), 10%);
    border-right: 6px solid hsl(var(--olive), 10%);
    padding: 20px 20px 30px 20px;
    margin-bottom: 20px;
}

.content-back input:not([type=checkbox]) {
    padding: 2px 6px;
    font-size: 20px;
    border: 5px solid hsl(var(--olive), 13%);
    border-radius: 10px;
    outline: none;
    
    width: 70%;

    text-align: center;
}

input:focus:not([type=checkbox]) {
    border: 5px solid hsl(var(--olive), 50%);
    transition: 200ms;
}
.select-exercise input.drop-down-input {
    border: 5px solid hsl(var(--olive), 50%);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.content-back p {
    user-select: none;
    margin: 0 8px;
}

.set-parent {
    width: 100%;
}
.set-number {
    user-select: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--gray);
    padding: 10px 0;
}
.select-weight, .select-reps {
    width: 100%;
    background-color: hsl(var(--olive), 24%);
    border: 5px solid hsl(var(--olive), 10%);
    padding: 10px;

    color: var(--gray);
    font-size: 16px;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}
.select-reps {
    margin-bottom: 20px;
}
.set-parent input{
    width: 200px;
    margin-right: 10px;
}



