.calendar-div {
    z-index: 99;
    position: absolute;
    margin-top: 60px;
    width: 100%;
    opacity: 0;
    transition: all 300ms;
}
.current-date.active {
    background-color: var(--btn-active);
    color: black;
}

.calendar-month, .time-picker {
    z-index: 2;
    width: 100%;
    background-color: var(--base-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    color: var(--gray);
    font-size: 20px;
}
.time-picker {
    background-color: var(--btn-border);
    border: 5px solid var(--btn-bg);
    font-size: 22px;
}
.time-picker .time-value {
    text-align: center;
    width: 28px;
    margin: 0 4px;
    border: none;
    background-color: var(--btn-border);
    font-size: 22px;
    color: var(--gray);
}
.time-picker .time-value:focus {
    text-decoration: underline var(--highlight);
    outline: none;
}

.calendar-div .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);

    background-color: var(--btn-border);
    border: 5px solid var(--btn-bg);
}
.calendar-days .calendar-day {
    aspect-ratio: 1;
    outline: solid 1px black;
    color: var(--gray);

    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    font-size: 20px;
}
.calendar-day.today {
    aspect-ratio: 0;
    grid-column: 6 / 8;
}
.calendar-days .calendar-day.selected-day {
    color: rgb(182, 248, 0);
    font-weight: bold;
    background-color: var(--btn-bg);
}

.calendar-month .month-button {
    display: flex;
    align-items: center;
    background-color: var(--base-bg);
    width: 100%;
    height: 100%;
    border: none;
    font-size: 20px;
}
.month-button#prevButton {
    padding-left: 20px;
    justify-content: left;
}
.month-button#nextButton {
    padding-right: 20px;
    justify-content: right;
}
.calendar-div .month-button#prevButton:active {
    background: linear-gradient(90deg, var(--btn-active), var(--base-bg));
}
.calendar-div .month-button#nextButton:active {
    background: linear-gradient(90deg, var(--base-bg), var(--btn-active));
}