.user-button.active {
    background-color: var(--btn-active);
}
.user-settings {
    z-index: 20;
    margin-top: 10px;
    min-height: 280px;
    width: 100%;
    background-color: var(--base-bg);
    border: 5px solid var(--btn-border);

    transform: scale(0, 0);
    transition: all 200ms;
    transform-origin: top right;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.user-settings > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.user-settings .user-change-name,
.user-settings .data-transfer-div {
    flex-direction: row;
}
.user-settings .data-transfer-div {
    padding: 20px 0;
    gap: 10px;
}
.user-settings .user-change-exercises > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-settings .change-exercise-name-inputs-div {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.user-settings .add-exercise-div {
    padding-top: 40px;
}

.user-settings button {
    width: 50px; 
    height: 50px; 
    z-index: 22;
    background-color: var(--btn-bg);
    padding: 2px 10px;
    font-size: 16px;
    border: 4px solid var(--btn-border);
    border-radius: 12px;
    transition: all 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray);
}
.user-settings button:active {
    background-color: var(--btn-active);
    color: black;
}
.user-settings .reset-button,
.user-settings .empty-list-button {
    margin-left: 26px;
    align-self: flex-start;
    margin-bottom: 30px;
    width: 120px;
}
.user-settings .reset-button {
    margin-bottom: 30px;
}

.user-settings .change-exercise-name-button {
    height: 90px;
}

.user-settings .data-transfer-div button {
    height: 40px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-change-exercises {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}
.user-settings .user-change-name {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-settings input {
    width: 70%;
    z-index: 6;
    border: none;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 4px 12px 4px 10px;
    outline: none;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 400ms;

    font-size: 18px;
}
.user-settings .change-exercise-name-inputs-div input {
    width: 100%;
}
.user-settings input.drop-down-input {
    border-bottom-left-radius: 0;
}

.user-change-name span,
.user-change-exercises span {
    z-index: 21;
    position: absolute;
    left: calc(8% - 3px);
    padding: 2px 8px;
    background-color: var(--base-border);
    opacity: 0;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    transition: all 400ms, opacity 600ms;
    color: var(--highlight);
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-settings label:not(.header-label) {
    z-index: 4;
    background-color: var(--base-border);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 2px 8px;
    position: absolute;
    left: 10%;
    transform: translateY(-25px);
    transition: opacity 500ms;
    opacity: 0;
    color: var(--btn-active);
    font-weight: bold;
    font-size: 14px;
    font-style: italic;
    user-select: none;
}
.user-settings .header-label {
    width: 100%;
    border-top: 5px solid var(--btn-border);
    text-align: center;
    padding: 8px 6px;
    background-color: var(--base-border);
    color: var(--btn-active);
    user-select: none;
}
.user-settings .header-label:first-of-type {
    border-top: none;
}